.referralBonus {
  display: flex;
}

.referralBonus > .left,
.referralBonus > .right {
  max-width: 50vw;
}

.referralBonus > .right {
  background: url("../../Assets/Referral.jpg") no-repeat;
  background-size: cover;
  width: 136vw;
  height: 91vh;
}

.referralBonus > .left {
  padding: 130px 80px;
}

.referralBonus > .left > h1 {
  line-height: 1.5;
  font-size: 44px;
}

.referralBonus > .left > .referNow {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  background: #FED330;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 12px;
}
