.referralBonus {
  display: flex;
}

.referralBonus > .right {
  background: url("../../Assets/Referral.webp") no-repeat;
  background-size: cover;
  width: 136vw;
}

.referralBonus > .left > .referNow {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  background: #fed330;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 12px;
}
