
.landing > .left {
  background: url("../../Assets/Landing.webp") no-repeat;
  background-size: cover 
}

.landing > .right > .investNow {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  background: #26de81;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 12px;
}
