.dashboard {
  text-align: center;
}

/* topbar */
.dashboard .topBar {
  margin: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .topBar .MuiButton-root {
  background: #26de81;
  color: #fff;
  font-weight: 600;
  margin-right: 20px;
}

/* universal data */
.dashboard .scrollableZone > .universalData {
  margin: 30px 0 50px 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard .scrollableZone > .universalData > div {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 19px 19px 44px rgba(211, 209, 255, 0.5), -19px -19px 44px #ffffff;
  padding: 5px 90px;
  margin-right: 50px;
  border-left: 5px solid rgba(38, 222, 129, 0.5);
}

.dashboard .scrollableZone > .universalData h2 {
  margin: 10px 0;
  line-height: 1.5;
}

.dashboard .scrollableZone > .assetInfo {
  margin: 30px 0 50px 0;
  padding: 0 30px;
}

.dashboard .scrollableZone > .assetInfo > .flexData {
  display: flex;
  justify-content: space-evenly;
}

.dashboard
  .scrollableZone
  > .assetInfo
  > .flexData
  > .totalReferralBonus
  .MuiButton-root {
  background: #26de81;
  color: #fff;
  font-weight: 600;
}

.dashboard .scrollableZone > .assetInfo > .flexData > div {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 19px 19px 44px rgba(211, 209, 255, 0.5), -19px -19px 44px #ffffff;
  padding: 5px 90px;
  margin-right: 50px;
  border-left: 5px solid rgba(38, 222, 129, 0.5);
}
.dashboard .scrollableZone > .referralInfo {
  margin: 30px 0 50px 0;
  padding: 0 30px;
}

.dashboard .scrollableZone > .referralInfo > .flexData {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard .scrollableZone > .referralInfo > .flexData > div {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 19px 19px 44px rgba(211, 209, 255, 0.5), -19px -19px 44px #ffffff;
  padding: 5px 100px;
  margin-right: 50px;
  border-left: 5px solid rgba(38, 222, 129, 0.5);
}

.dashboard .scrollableZone > .referralInfo .MuiButton-root {
  background: #26de81;
  padding: 10px 30px;
}

.dashboard .scrollableZone {
  height: 79vh;
  overflow-y: scroll;
  display: block;
  padding: 0 50px;
}

@media (max-width: 992px) {
  .dashboard .scrollableZone > .universalData > div {
    padding: 5px 60px;
  }

  .dashboard .scrollableZone > .assetInfo > .flexData > div {
    padding: 5px 60px;
  }
}

@media (max-width: 768px) {
  .dashboard .topBar {
    margin-top: 20px;
  }

  .dashboard .scrollableZone > .universalData > div {
    margin-right: 20px;
    padding: 5px 50px;
  }

  .dashboard .scrollableZone > .assetInfo > .flexData > div {
    margin-right: 20px;
    padding: 5px 50px;
  }
  .dashboard .scrollableZone > .referralInfo > .flexData > div {
    margin-right: 20px;
    padding: 10px 50px 30px 50px!important;
  }
}

@media (max-width: 577px) {
  .dashboard .topBar .walletBalance {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dashboard .scrollableZone{
    height: 60vh;
  }

  .dashboard .scrollableZone > .universalData {
    flex-direction: column;
  }

  .dashboard .scrollableZone > .universalData > div {
    margin-bottom: 20px;
    width: 60vw;
  }

  .dashboard .scrollableZone > .assetInfo > .flexData {
    flex-direction: column;
  }

  .dashboard .scrollableZone > .assetInfo > .flexData > div {
    margin-bottom: 20px;
  }

  .dashboard .scrollableZone > .referralInfo > .flexData{
    flex-direction: column;
  }

  .dashboard .scrollableZone > .referralInfo > .flexData > div {
    margin-bottom: 20px;
    width: 60vw;
  }
}
